body{
    background-image:url("https://t4.ftcdn.net/jpg/04/61/23/23/360_F_461232389_XCYvca9n9P437nm3FrCsEIapG4SrhufP.jpg");
    background-size:cover;
    @media (max-width: 768px){
        flex-direction: column;
    }
}